{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} Home {% endblock %}

{% block content %}
{% include 'nav.html' %}

<main role="main">
    <main role="main">
        <div class="container">
            <div class="p-1 mt-4 bg-light rounded-4">
                <h2>Account Details - {{ account.name }}</h2>
                <br/>
                <h4>Balance: <b>${{ account.balance }}</b></h4>
                <br/>
                <table class="table">
                    <h4>Recent Transactions</h4>
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Note</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                        <td>{{ transaction.datetime |date:"m/d/y" }} </th>
                        <td>${{ transaction.amount }}</td>
                        <td>{{ transaction.description |wordwrap:10 }}</td>
                        <td>${{ transaction.post_balance }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}
