<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Savings Tracker</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transfer">Transfer Money</a>
            </li>
        </ul>   
    </div>
</header>

<div class="container-fluid">
    <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span data-feather="file"></span>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transfer">
                    <span data-feather="file"></span>
                    Make Transfer
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions/all/">
                    <span data-feather="file"></span>
                    Transactions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scheduled/">
                    <span data-feather="file"></span>
                    Scheduled
                </a>
            </li>
        </ul>
        </div>
    </nav>
    </div>
</div>